[versions]
kotest = "5.8.0"

[libraries]
khttpclient = "work.socialhub:khttpclient:0.0.1-SNAPSHOT"
ktor-core = "io.ktor:ktor-client-core:2.3.8"
datetime = "org.jetbrains.kotlinx:kotlinx-datetime:0.5.0"
coroutines-core = "org.jetbrains.kotlinx:kotlinx-coroutines-core:1.7.3"
serialization-json = "org.jetbrains.kotlinx:kotlinx-serialization-json:1.6.2"
serialization-cbor = "org.jetbrains.kotlinx:kotlinx-serialization-cbor:1.6.2"
kotest-junit5 = { module = "io.kotest:kotest-runner-junit5-jvm", version.ref = "kotest" }
kotest-assertions = { module = "io.kotest:kotest-assertions-core-jvm", version.ref = "kotest" }