[versions]
kotest = "5.9.1"

[libraries]
khttpclient = "work.socialhub:khttpclient:0.0.1-SNAPSHOT"
ktor-core = "io.ktor:ktor-client-core:2.3.12"
datetime = "org.jetbrains.kotlinx:kotlinx-datetime:0.6.0"
coroutines-core = "org.jetbrains.kotlinx:kotlinx-coroutines-core:1.8.1"
serialization-json = "org.jetbrains.kotlinx:kotlinx-serialization-json:1.7.1"
serialization-cbor = "org.jetbrains.kotlinx:kotlinx-serialization-cbor:1.7.1"
kotest-junit5 = { module = "io.kotest:kotest-runner-junit5-jvm", version.ref = "kotest" }
kotest-assertions = { module = "io.kotest:kotest-assertions-core-jvm", version.ref = "kotest" }